@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    font-family: Roboto, sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid #777; 
    margin-bottom: 1rem;
    text-align: center;
}

h3 {
    font-size: .5rem; color: darkgreen;
}

section {
    margin: 1rem auto; max-width: 960px;
}

.container {
    display:column;
     grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 25px;
    place-items: center;
    align-items: center;
}

figure {
    background-color:#fff;
}

img { 
    width: 300px; 
    height: auto; 
    margin: .25rem;
}

figcaption {
    font-size: smaller;
}
img {
    transition: 0.9s;
}
.img1 {
    box-shadow: 0 0 50px #9b0404;
   
}
.img[data-src] {
    filter:blur(0.2em);
    transition: 0.9s;
}
/* hover effect */
.img1:hover {
    box-shadow: 0 0 50px #01266c;
    filter: blur(4px);
}

/* rounded corners - boxmodel */
.img2 {
 box-shadow: 0 0 50px #9b0404;

}
.img2:hover{
    box-shadow: 0 0 50px #039f3c;
    filter: blur(4px);
}

/* simple opacity */
.img3 {
    opacity: .9;
    box-shadow: 0 0 50px #9b0404;
}
.img3:hover {
    box-shadow: 0 0 50px #04b0c7;
    filter: blur(4px);
}

.img4 {
    box-shadow: 0 0 50px #c4f407;
}
.img4:hover {
    box-shadow: 0 0 50px #cc15a4;
    filter: blur(4px);
}

.img5 {
    box-shadow: 0 0 50px #7e0148;
}
.img5:hover {
    box-shadow: 0 0 50px #30ff19;
    filter: blur(4px);
}


.img6 {
    box-shadow: 0 0 50px #199d04;
}
.img6:hover {
    box-shadow: 0 0 50px #1c06c1;
    filter: blur(4px);
}

.img7 {
    box-shadow: 0 0 50px #d30326;
}
.img7:hover {
    box-shadow: 0 0 50px #8405f3;
    filter: blur(4px);
}

.img8{
    box-shadow: 0 0 50px #86a305;
}
.img8:hover {
    box-shadow: 0 0 50px #dd0505;
    filter: blur(4px);
}


/*.pic div:nth-of-type(3), .pic div:nth-of-type(8), .pic div:nth-of-type(13)  {	grid-column: 3/5; }*/