

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@media screen and (min-width: 32.5em){
html{
    min-width: 100%;
    font-family: "Oswald", Helvetica, sans-serif;
}
body {
    font-family: "Oswald", Helvetica, sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid #777; 
    margin-bottom: 1rem;
    text-align: center;
}

h3 {
    font-size: 1rem; 
    color: darkgreen;
    text-align: center;
}
header {
    background-color: #4A95cf;
    padding-bottom: 20px;
}

.topheader {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items:flex-start;
}


.hero_wrapper {
    display: flex;
}

.logo {
    width: 55px;
    height: 55px;
    margin-top: 5px;
    margin-left: 1.25vw;
    border-radius: 50%;
}

h4 {
    margin-left: 2vw;
    margin-top: 10px;
    font-family: 'EB Garamond', 'Times New Roman', serif;
    font-size: 1.9rem;
}

nav button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav {
    background-color: none;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: .8rem 2vw;
    border-top: 1px solid rgba(0,0,0,0.5);
    background: linear-gradient(90deg, transparent, #f1cf25, transparent) bottom /
		var(--d, 0) 3px no-repeat;
	transition: 0.9s;
}

nav ul li a:hover {
    background-color: #89a63c;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

header {
    align-items: center;
    justify-content: center;
    display:block;
}


header:hover { 
    background: rgba(172, 160, 160, 0.8);
}



nav {
    background-color: #81501b;
    margin: 0 auto 1rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: none;

}


nav ul li.active a {
    background-color: red;
    color: #fff;
}
nav ul li a:hover {
    color: #fff;
    background-color:lightgoldenrodyellow;
    border-radius:50px;
}
nav ul.open {
    display: block;

}
#currentDate {
	background-color:black;
	border: 0.1px solid yellow;
	font-size: 1.1rem;
	padding: 10px 0;
	text-align: center;	
	grid-column: 1 / 6;
  margin-top:50px;
  color:yellow;
  grid-row: 2 / 3;
}
/*-------old-------*/

section {
    margin: 1rem auto; max-width: 960px;
}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 0.5rem;
    margin-left: 0%;
   
}
.container figure{
    margin-left: 0%;
}

figure {
    background-color:#fff;
}

img { 
    width: 300px; 
    height: 400px; 
    margin: .25rem;
}

figcaption {
    font-size: smaller;
}
img {
    transition: 0.9s;
}
.img1 {
    box-shadow: 0 0 50px #9b0404;
   
}
.img[data-src] {
    filter:blur(0.2em);
    transition: 0.9s;
}
/* hover effect */
.img1:hover {
    box-shadow: 0 0 50px #01266c;
    filter: blur(4px);
}

/* rounded corners - boxmodel */
.img2 {
 box-shadow: 0 0 50px #9b0404;

}
.img2:hover{
    box-shadow: 0 0 50px #039f3c;
    filter: blur(4px);
}

/* simple opacity */
.img3 {
    opacity: .9;
    box-shadow: 0 0 50px #9b0404;
}
.img3:hover {
    box-shadow: 0 0 50px #04b0c7;
    filter: blur(4px);
}

.img4 {
    box-shadow: 0 0 50px #c4f407;
}
.img4:hover {
    box-shadow: 0 0 50px #cc15a4;
    filter: blur(4px);
}

.img5 {
    box-shadow: 0 0 50px #7e0148;
}
.img5:hover {
    box-shadow: 0 0 50px #30ff19;
    filter: blur(4px);
}


.img6 {
    box-shadow: 0 0 50px #199d04;
}
.img6:hover {
    box-shadow: 0 0 50px #1c06c1;
    filter: blur(4px);
}

.img7 {
    box-shadow: 0 0 50px #d30326;
}
.img7:hover {
    box-shadow: 0 0 50px #8405f3;
    filter: blur(4px);
}

.img8{
    box-shadow: 0 0 50px #86a305;
}
.img8:hover {
    box-shadow: 0 0 50px #dd0505;
    filter: blur(4px);
}

}


@media only screen and (min-width: 37.5em) {

    main div {
        margin-bottom: 1em;
        align-items: center;
    }

    .nav {
        grid-column: 1 / 2;
        padding: .5px;
        height: 0;
    }
}
/*.pic div:nth-of-type(3), .pic div:nth-of-type(8), .pic div:nth-of-type(13)  {	grid-column: 3/5; }*/