@media only screen and (min-width: 32.5em) {

    header {
        display: flex;
        align-items:left;
        justify-content: left;
        background-color: blue;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 40px #333;
        margin-top: 2rem;
      
    }
    
    header img {
        width: 100px;
        height: 150px;
        box-shadow: 0 0 40px #333;
        border-radius: 10px;
       
    }
    
    h1{
        font-size: 1.6rem;
        margin-left: 2rem;
        margin-top: 4rem;
       
    }
    h2 {
        font-size: 1.5rem;
        border-bottom: 1px solid #999;
        margin-bottom: 0.5rem;
        text-shadow: 0 0 5px #444;
    
    }
    
    aside {
        font-size: smaller;
        text-align: justify;
        font-style: italic;
        border-top: 1px solid #999;
        margin-bottom: 1rem;
    }
    
    footer {
        font-size: 1rem;
        margin-top: 1rem;
        background-color: rgb(11, 120, 170);
        text-align: justify;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 30px #333;
    
    }
    
    body {
        width: 480px;
        align-items: center;
        background-color: grey;
        border: 2px solid rgb(24, 43, 24);
        border-radius: 5px;
        border-top: red;
        font-family: 'Oswald', sans-serif;
    }
     .linklist ul {
        background-color: darkolivegreen;
     }
     .linklist ul li {
         color: blue;
         font-family: 'Times New Roman', Times, serif;
     }
    
     .linklist ul a {
         color: gold;
     }
     html {
         align-items: center;
         justify-content: center;
         font-family: 'Oswald', sans-serif;
     }
    }