
.quick-access{
    text-align: center;
    padding-top: 40px;
}
i#quick{
    padding: 15px;
}*/

   /*------------------footer-----------------------*/
.footer{
    margin-top: 50px;
    background: #000;
    color: #d50c0c;
}
.footer h1{
    font-size: 15px;
    margin: 25px 0;
}
.footer p{
    font-size: 12px;
}
.copyright{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}
.footer hr{
    margin-top: 10px;
    background-color:#ccc ;
}
.footer-images img{
    width: 150px;
}
.footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}
.row{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: .5rem;
    text-align: center;
    margin: 0%;
    margin-left: 50px;
    padding: 20px;
    word-spacing: 2%;
}
h5{
    font-size: 15px;
    color:white;
}
footer{
    background-color: #000;
    color: #ccc;

}
.times{
    text-align: center;
}