@media screen and (min-width: 1024px) { 

    .content {
        display: grid;
        grid-template-columns: 1fr;
        
        justify-items: center;
        justify-self: center;

        margin: 0 auto;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    .page-grid {
        display: grid;
        grid-template-areas: "topic1 topic2 topic3";
        grid-gap: 1em;
        align-items: stretch;
    }

    .topic-card {
        width: 30vw;
    }

}