@media only screen and (min-width: 64rem){
    
    .shown, #popup{
        font-size: 1.5rem;
        padding: 40px;
    }
    
    header{
        padding: 3vw 5vw;
        display: block;
    }

    header .logo{   
        width: 150px;
        float: left;
    }
    
    .title{
        padding: 0 0 10px 20px;
    }

    h1{
        font-size: 3em;
    }

    h3{
        font-size: 1.5em;
    }

    nav{
        max-width: 80%;
        float: right
    }

    nav ul li a{
        font-size: 1.2rem;
    }
    
    .socialMedia{
        padding-left: 20px;
    }
    
    .socialMedia img{
        width: 50px;
    }
    
    #currentDate{
        margin: 50px 0 0 0;
    }

    .main{
        padding: 2vw 4vw;
        display: grid;
        grid-template-columns: 1fr 50% 1fr;
    }

    .event{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .hero{
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .hero button{
        top: 500px;
    }

    .weather{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .release{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .spotParent{
        grid-column: 3/4;
        grid-row: 1/4;
        flex-direction: column;
        align-items: stretch;
    }

    .join{
        grid-column: 1/2;
        grid-row: 3/4;
    } 

    .discover-page{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    div.cardStyle{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*------------------------------------CONTACT PAGE------------------------------------*/

    div.contactDiv {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}