@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@media screen and (min-width: 360px){

html {
    font-family: "Oswald", Helvetica, sans-serif;
    min-width: 100%;
    box-sizing: border-box;
}

.title{
	margin: 5px;
	display: block;
	flex-direction: column;
}

body {
    margin-left: 2vw;
    font-family: "Oswald", Helvetica, sans-serif;
}                                                                                                                                                                                                                           

/************HEADER SECTION*****************************/

header {
    background-color: #4A95cf;
    padding-bottom: 20px;
}

.topheader {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items:flex-start;
}

.hero_wrapper {
    display: flex;
}

.logo {
    width: 55px;
    height: 55px;
    margin-top: 5px;
    margin-left: 1.25vw;
    border-radius: 50%;
}

h4 {
    margin-left: 2vw;
    margin-top: 10px;
    font-family: 'EB Garamond', 'Times New Roman', serif;
    font-size: 1.9rem;
}

.topheader {
    display: flex;
    align-items: flex-start;  
}

.socialmedia {
    display: flex;
    margin-left: 25px;
    align-items: flex;
}

.socialmedia div a {
    display: block;
    margin: .2px;
    padding: 0px .2px;
    float: left; 
    border-radius: 10%;
    size:  1px;;
}

nav button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav {
    background-color: #4A95cf;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: .8rem 2vw;
    border-top: 1px solid rgba(0,0,0,0.5);
    background: linear-gradient(90deg, transparent, #f1cf25, transparent) bottom /
		var(--d, 0) 3px no-repeat;
	transition: 0.9s;
}

nav ul li a:hover {
    background-color: #89a63c;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

/*
#currentDate {
    width: 90%;
    border: 1px solid #bf6e50;
    margin: 0 auto;
    background-color: #bf6E50;
    color: #fff;
    padding: 10px;
    text-align: center;
}*/
.logo-box {
    display: grid;
    grid-auto-flow: column;
   
    align-items: center;
    text-align: right;
}
.logo-box img {
    float: center;
    width: 20px;
    height:20px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 2px 2px 2px 2px goldenrod;
}

header {
    align-items: center;
    justify-content: center;
    display:block;
}


header:hover { 
    background: rgba(172, 160, 160, 0.8);
}



nav {
    background-color: #555;
    margin: 0 auto 1rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: none;

}


nav ul li.active a {
    background-color: red;
    color: #fff;
}
nav ul li a:hover {
    color: #fff;
    background-color:lightgoldenrodyellow;
    border-radius:50px;
}
nav ul.open {
    display: block;

}

/********************END OF HEADER STYLING*******************************/


body {
    background-color:burlywood ;
}

main {
    display: grid;
    grid-gap: 3em;
    grid-auto-rows: fit-content(10em);
    text-shadow: 2px 3px 5px black;
    color: white;
    padding: 1em;
    transition: all 1s ease-in-out;
}


main div {
    text-align: center;
    border-radius: 5px;
    background-color: #3D3D3D;
    width: 100%;
}

main div:hover {
    background: rgba(61, 61, 61, 0.5);
}

main div img:hover {
    opacity: 0.8;
}

.main-title {
    font-size: 25px;
    text-align: left;
}

a {
    color: #17B5DE;
    text-decoration: none;
    transition: all 500ms;
}

a:hover {
    font-size: 1.5rem;
}

header img {
    width: 50px;
    padding: 1em;
    border-radius: 75%;
}

p {
    color: white;
}

button {
    border: none;
    background: none;
    color: inherit;
    font-size: 20px;
    text-align: left;
    width: 30px;
    height: 30px;
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
}

.event {
    grid-row: 1 / 2;
}

.weather {
    grid-row: 2 / 3;
    background-color:skyblue;
    text-shadow: darkgoldenrod;
}
/*...................CLASS ACTION.............*/
.action {
    display: flex;
    flex-direction: row;
    grid-row: 3 / 4;
    background-color:gold;
}

.action img {
    border-radius: 0%;
    height: 100%;
    width: 100%;
    position: relative;
    right:4.2%;
}

.action a {
    position: absolute;
    left: 45%;
    background: rgba(61, 61, 61, 0.8);
    padding: 1em;
    color: orange;
    font-size: 1.1rem;
    transition: all 500ms;
}

.action a:hover {
    background: rgba(61, 61, 61, 1);
    font-size: 1.2rem;
}
/*..............END OF CLASS ACTION...............................................*/

.spot-3 {
    display: none;
}

.join {
    display: none;
}
.join img {
    width: 90%;
    height: 50%;
    border-radius: 0%;
}

.news {
    grid-row: 4 / 5;
}


button:hover {
    background-color: gray;
}

#currentDate {
	background-color:black;
	border: 0.1px solid yellow;
	font-size: 1.1rem;
	padding: 10px 0;
	text-align: center;	
	grid-column: 1 / 6;
  margin-top:50px;
  color:yellow;
  grid-row: 2 / 3;
}
/*................................STYLING WEATHER.........................*/
.temperature{
    color: black;
    font-weight: bold;
    font-size: larger;
}
.wind-speed{
    color: black;
    font-weight: bold;
    font-size: larger;
}
.wind-chill{
    color: black;
    font-weight: bold;
    font-size: larger;
}

/*......................footer........................................*/

.footer {
    display: grid;
    place-items: center;
    grid-template-columns: 1 fr;
    background-color: #0d3e5f;
    box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.3), 8px 6px 20px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    color: #fff;
}

.footer p {
    color: #fff;
    font-size: .90rem;
}

.footer h3 {
    font-size: .90rem;
}

.footer img {
    max-width: 6rem;
    margin: .5rem;
}

.address {
    margin: .7rem;
}

.contactInfo {
    margin: .7rem;
    padding: .5rem;
}

#lastMod{
    margin: .5rem none none none;
    padding: .5rem;
    /*border-top: 1px solid rgba(255, 255, 255, .7);*/
}

.material-icons {
    font-size: 1rem;
    color: rgb(87, 3, 3);
}

.footer a {
    text-decoration: none;
}

}



