/*...........table build.............*/
:root {
	--foredark: hsla(0,0%,10%,1);
	--forelight: rgb(255, 255, 255);
	--border: hsl(0,0%,20%);
	--borderlight: hsl(0,0%,33%);
	--shadow: hsl(0,0%,50%);
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 30px var(--shadow);
	border-collapse: collapse;
	letter-spacing: 1px;
	font-size: 0.8rem;
}

caption {
	padding: 10px;
	caption-side: bottom;
	color: var(--back);
	font-size: .85rem;
}

tr:first-child th {
	background-color: black;
	color: var(--forelight);
}

td {
	text-align: center;
}

tr:nth-child(2n+3){
	background-color: #28AFB0;
	color: var(--foredark);
}

tr:nth-child(9n) td{
	background-color: black;
	color: var(--forelight);
}
.highlight {
	background-color: #F0CF65;
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

tr, th {
	background-color: var(--back2);
}

td {
	text-align: center;
}



html {
    font-family: 'Ubunto', sans-serif;
  }
  
td, th {
border: 1px solid rgb(190,190,190);
padding: 10px 20px;
}
body{
    background-color: black;
}
tr td{
    color: white;
}
tr th.tbody{
    color: green;
}