@media only screen and (min-width: 32.5em) {


html {
    font-family: Roboto;
    min-width: 100%;
}

h2{
    text-align: center;
}

/*-------------WORKING ON SOCIAL MEDIA LINKS AND LOGO-----------*/

.social a img{
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    padding: 2px;
  
}

.logo-box {
    display: grid;
    grid-auto-flow: column;
   
    align-items: center;
    text-align: right;
}
.logo-box img {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 2px 2px 5px 5px goldenrod;
}


header:hover { 
    background: rgba(172, 160, 160, 0.8);
}

.sub-header {
    font-size: 50px;
    text-align: center;
    color: green;
    
}


body {
    background-color: rgb(21, 2, 20);
}

main {
    display: grid;
    grid-gap: 3em;
    grid-auto-rows: fit-content(10em);
    text-shadow: 2px 3px 5px black;
    color:white;
    padding: 1em;
    transition: all 1s ease-in-out;
}


main div {
    text-align: center;
    border-radius: 5px;
    background-color: #3D3D3D;
    width: 100%;
}

main div:hover {
    background: rgba(61, 61, 61, 0.5);
}

main div img:hover {
    opacity: 0.8;
}
.event {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
}
.spot-3 {
    display: block;
}

/*-----------------WORKING ON NAVIGATION------------*/
.nav {
    padding: 0.5em;
    transition: all 500ms ease-in-out;
    position: relative;
    display: flex;
    text-align: center;
    grid-column: 1/5;
    grid-row: 2/2;
    margin-left: 300px;
}

.nav a {
    display: block;
    text-decoration:underline;
    color: blue;
    font-size: 1.5rem;
    padding: 20px;
}

.nav div:hover {
    background-color:yellow;
    margin-top: 2px;
    transition: margin 500ms ease-in-out;
    border-radius: 50px 50px 50px 50px ;
}

}
/*------------WORKING ON FOOTER-------------*/
footer {
    color:darkorange;
    background-color: #3D3D3D;
    text-align: center;
    font-size: 1.2rem;

    font-weight: 600;
    line-height: 1.5em;
   
  
    background-color: #40e0d0;
    color: black;
    border-radius: 22px;
    
    padding: 0.75em;
}

footer p{
    color:darkorange;
}
footer a{
    color:rgb(183, 157, 8);
}

/*----WORKING ON THE DESIGN PAGE-----*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
}

.grid-item {
    padding: 5px;
}

.grid-item h1 {
    margin: 0px;
}

.grid-row-wrapper {
    display: contents;
}

.grid-row-wrapper > .grid-item {
    background: chocolate;
}

.grid-row-wrapper-1 {
    display: contents;
}

.grid-row-wrapper-1 > .grid-item {
    background: #a6acb6;
    color: #fff
}