@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    body {
        text-align: center;
        background-color: skyblue;
    }
    h1{
        color: wheat;
    }

    #current-temp{
        color: black;
        font-weight: bold;
        font-size: larger;
    }
    #weather-icon {
        max-width: 50px;
        height: auto;
    }
    figcaption{
        color: aliceblue;
    }
    
